<!DOCTYPE html>
<html lang="zh" class="bg-[var(--page-bg)] text-[14px] transition md:text-[16px]" data-overlayscrollbars-initialize>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Site.Title }}{{ if .Site.Subtitle }} - {{ .Site.Subtitle }}{{ end }}</title>
    <link rel="stylesheet" href="/assets/dist/main.css" />
    <script>
      (function () {
        const DEFAULT_THEME = "{{ .Site.ColorScheme }}" || "auto";
        const LIGHT_MODE = "light";
        const DARK_MODE = "dark";
        const AUTO_MODE = "auto";
        const BANNER_HEIGHT = 35;
        const BANNER_HEIGHT_EXTEND = 30;
        const BANNER_HEIGHT_HOME = BANNER_HEIGHT + BANNER_HEIGHT_EXTEND;
        const PAGE_WIDTH = 75;
        const configHue = {{ .Site.ThemeColorHue }} || 250;
        const banner_position = "{{ .Site.BannerPosition }}" || "center";
        const bannerOffsetByPosition = {
          top: `${BANNER_HEIGHT_EXTEND}vh`,
          center: `${BANNER_HEIGHT_EXTEND / 2}vh`,
          bottom: "0",
        };
        const bannerOffset = bannerOffsetByPosition[banner_position || "center"];

        const theme = localStorage.getItem("color-scheme-fuwari") || DEFAULT_THEME;
        switch (theme) {
          case LIGHT_MODE:
            document.documentElement.classList.remove("dark");
            break;
          case DARK_MODE:
            document.documentElement.classList.add("dark");
            break;
          case AUTO_MODE:
            if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
              document.documentElement.classList.add("dark");
            } else {
              document.documentElement.classList.remove("dark");
            }
        }

        const storedHue = localStorage.getItem("hue");
        const hue = (storedHue && parseInt(storedHue) === configHue) ? storedHue : String(configHue);
        if (!storedHue || parseInt(storedHue) !== configHue) {
          localStorage.setItem("hue", String(configHue));
        }
        document.documentElement.style.setProperty("--hue", hue);

        let offset = Math.floor(window.innerHeight * (BANNER_HEIGHT_EXTEND / 100));
        offset = offset - (offset % 4);
        document.documentElement.style.setProperty("--banner-height-extend", `${offset}px`);
        document.documentElement.style.setProperty("--page-width", `${PAGE_WIDTH}rem`);
        document.documentElement.style.setProperty("--configHue", `${configHue}`);
        document.documentElement.style.setProperty("--banner-height", `${BANNER_HEIGHT}vh`);
        document.documentElement.style.setProperty("--banner-height-home", `${BANNER_HEIGHT_HOME}vh`);
        document.documentElement.style.setProperty("--bannerOffset", bannerOffset);
      })();
    </script>

    {{ block "head" . }}{{ end }}
</head>

<body class="min-h-screen transition{{ if eq .PageType "home" }} is-home{{ end }}{{ if .Site.BannerEnable }} enable-banner{{ end }}" data-page-type="{{ .PageType }}" data-overlayscrollbars-initialize>
    {{ template "modules/config-carrier" . }}
    {{ template "modules/top-row" . }}
    
    {{ if .Site.BannerEnable }}
    {{ template "modules/banner-wrapper" . }}
    {{ end }}
    
    <div id="content-area-wrapper" class="pointer-events-none absolute z-30 w-full" style="top: calc(35vh - 3.5rem)">
      <div class="pointer-events-auto relative mx-auto max-w-[var(--page-width)]">
        <div id="main-grid" class="left-0 right-0 mx-auto grid w-full grid-cols-[17.5rem_auto] grid-rows-[auto_1fr_auto] gap-4 px-0 transition duration-700 md:px-4 lg:grid-rows-[auto]">
          {{ if .Site.BannerCreditEnable }}
          {{ template "modules/widgets/banner-credit" . }}
          {{ end }}
          {{ template "modules/sideBar" . }}

          <main id="swup-container" class="transition-swup-fade col-span-2 overflow-hidden lg:col-span-1">
            <div id="content-wrapper" class="onload-animation">
              {{ block "content" . }}
              <div class="card-base p-12 text-center">
                <p class="text-black/60 dark:text-white/60">No content</p>
              </div>
              {{ end }}

              <div class="footer onload-animation col-span-2 hidden lg:block">
                {{ template "modules/footer" . }}
              </div>
            </div>
          </main>
          <div class="footer onload-animation col-span-2 block lg:hidden">
            {{ template "modules/footer" . }}
          </div>
        </div>
        {{ template "modules/widgets/back-to-top" . }}
      </div>

      {{ if .Site.TOCEnable }}
      <div class="absolute z-0 hidden w-full 2xl:block">
        <div class="relative mx-auto max-w-[var(--page-width)]">
          <div id="toc-wrapper" class="absolute -right-[var(--toc-width)] top-0 hidden w-[var(--toc-width)] items-center transition lg:block{{ if .Site.BannerEnable }} toc-hide{{ end }}">
            <div id="toc-inner-wrapper" class="hide-scrollbar fixed top-14 h-[calc(100vh_-_20rem)] w-[var(--toc-width)] overflow-x-hidden overflow-y-scroll">
              <div id="toc" class="transition-swup-fade h-full w-full">
                <div class="h-8 w-full"></div>
                <div class="toc"></div>
                <div class="h-8 w-full"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{ else }}
      <div id="toc"></div>
      {{ end }}
    </div>

    <div id="page-height-extend" class="hidden h-[300vh]"></div>
    <script type="module" src="/assets/dist/main.js"></script>
</body>
</html>
