{{ define "head" }}
<meta name="description" content="{{ .Site.Description }}">
{{ end }}

{{ define "content" }}
<div class="mb-4 flex flex-col rounded-[var(--radius-large)] bg-[var(--card-bg)] py-1 transition md:gap-4 md:bg-transparent md:py-0">
    {{ range $i, $post := .Posts }}
    {{ template "modules/post-card" (dict "post" $post "index" $i) }}
    {{ else }}
    <div class="card-base p-12 text-center">
        <p class="text-black/60 dark:text-white/60">暂无文章</p>
    </div>
    {{ end }}
</div>
{{ template "modules/pagination" . }}
{{ end }}

{{ template "modules/layout" . }}
