{{ define "head" }}
<meta name="description" content="{{ .Page.Spec.Title }} - {{ .Site.Title }}">
{{ end }}

{{ define "content" }}
<div class="relative mb-4 flex min-h-32 w-full overflow-hidden rounded-[var(--radius-large)]">
  <div class="card-base relative z-10 w-full px-9 py-6">
    {{ if .Page.Spec.Cover }}
    <style>
      .cover-wrap-fuwari-page {
        overflow: hidden;
        margin: -1.5rem -1.5rem .5rem -1.5rem;
      }
      @media (min-width: 768px) {
        .cover-wrap-fuwari-page {
          margin: -2.25rem -2.25rem .5rem -2.25rem;
        }
      }
    </style>
    <div class="onload-animation cover-wrap-fuwari-page">
      <img src="{{ .Page.Spec.Cover }}" alt="{{ .Page.Spec.Title }}"
           style="display: block; width: 100%; height: 300px; object-fit: cover;"
           loading="lazy">
    </div>
    {{ end }}
    <h1 class="text-3xl font-bold mb-6 text-black/90 dark:text-white/90">{{ .Page.Spec.Title }}</h1>
    {{ if .WordCount }}
    <div class="onload-animation mb-3 flex flex-row gap-5 text-black/30 transition dark:text-white/30">
      <div class="flex flex-row items-center">
        <div class="mr-2 flex h-6 w-6 items-center justify-center rounded-md bg-black/5 text-black/50 transition dark:bg-white/10 dark:text-white/50">
          <span class="icon-[material-symbols--notes-rounded]"></span>
        </div>
        <div class="text-sm">{{ .WordCount }} 字</div>
      </div>
      <div class="flex flex-row items-center">
        <div class="mr-2 flex h-6 w-6 items-center justify-center rounded-md bg-black/5 text-black/50 transition dark:bg-white/10 dark:text-white/50">
          <span class="icon-[material-symbols--schedule-outline-rounded]"></span>
        </div>
        <div class="text-sm">{{ .ReadTime }} 分钟</div>
      </div>
    </div>
    {{ end }}
    <div class="custom-md prose prose-base mt-2 !max-w-none dark:prose-invert">
      {{ .Page.Content | safeHTML }}
    </div>
    {{ if .Site.PostLicenseEnable }}
    <div class="license-container onload-animation relative mt-6 overflow-hidden rounded-xl bg-[var(--license-block-bg)] px-6 py-5 transition">
      <div class="font-bold text-black/75 transition dark:text-white/75">{{ .Page.Spec.Title }}</div>
      <a href="{{ .Page.Status.Permalink }}" class="link text-[var(--primary)]" x-text="window.location.href"></a>
      <div class="mt-2 flex gap-6">
        <div>
          <div class="text-sm text-black/30 transition dark:text-white/30">作者</div>
          <div class="line-clamp-2 text-black/75 transition dark:text-white/75">{{ if .Page.Spec.Owner }}{{ .Page.Spec.Owner }}{{ else }}{{ .Site.AuthorName }}{{ end }}</div>
        </div>
        <div>
          <div class="text-sm text-black/30 transition dark:text-white/30">发布于</div>
          <div class="line-clamp-2 text-black/75 transition dark:text-white/75">{{ if .Page.Spec.PublishTime }}{{ .Page.Spec.PublishTime.Format "2006-01-02" }}{{ else if .Page.Metadata }}{{ .Page.Metadata.CreationTimestamp.Format "2006-01-02" }}{{ end }}</div>
        </div>
        <div>
          <div class="text-sm text-black/30 transition dark:text-white/30">License</div>
          <a href="{{ .Site.PostLicenseURL }}" target="_blank" class="link line-clamp-2 text-[var(--primary)]">{{ .Site.PostLicenseName }}</a>
        </div>
      </div>
      <span class="icon-[fa6-brands--creative-commons] pointer-events-none absolute right-6 top-1/2 -translate-y-1/2 text-[15rem] text-black/5 transition dark:text-white/5"></span>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}

{{ template "modules/layout" . }}
